body.night {
    background-color: black;
    color: white;
}

/* DUDA! he probado con card-body, con card y también con la navbar pero no funciona nada 
#accordionExample.night {
    background-color: black;
} */

.card {
    background-color: transparent;
}

.nav-link {
	color: grey;
}

/* DUDA! he leído que borderframe ya no funciona en html5, pero no encuentro otra manera de aplicar border al vídeo
.carousel-inner{
	border-color: red;
	border-width: 20px;
}
*/